$container-max-width: 500px;

$website-primary-color: #ffffff;
$website-primary-font: 'Roboto', sans-serif;
$website-primary-font-color: #000000;

$navbar-color: #000000; 
$navbar-font-color: #ffffff;