*{
  padding: 0;
  margin: 0;
}

/* ==============Typography========== */
body{
  color: white;
}
header h1{
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  text-align: center;
}
nav li{
  list-style: none;
}

aside h1{
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
aside h1 span{
  color: #ffbf00;
}
.info h1{
  font-family: 'Ubuntu', sans-serif;
}
.info p{
  font-family: 'Ubuntu', sans-serif;
}
/* ====================LAYOUT======= */
/* ======DEFAULT================ */
body{
  background-color: #332e2e;
  /* background-color: #282928; */
}
img{
  width: 100%;
  height: 100%;
}
.container{
  width: 90%;
  margin: 0 auto;
  /*border: 1px solid magenta;*/
}
header{
  display: flex;
  flex-direction: column;
}

header{
  background-color: #21211f;
  margin: 0px;
  /*border: 1px solid magenta;*/
}

nav ul{
  display: flex;
  justify-content: space-around;
}
nav li{
  display: flex;
  flex-direction:column;
  justify-content: center;
  height: 3em;
}

.toggle-button{
  position: absolute;
  top: .65rem;
  right: 1rem;
  display: none; /*so that by default the toggle-button does not show up*/
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.container-info{
  /* Note: it becomes column after being too small */
  /*border: 1px solid magenta;*/
  margin: 2em auto;
  display: flex;
  justify-content:space-between;
  width: 100%;
}
.container-image{
  width: 50%;
  max-width: 350px;
  /*border: 1px solid magenta;*/
}
#my_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#rectangle{
  background-color: #21211f;
  height: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}


/* ====for animation====== */
#rectangle{
  animation: change 10s infinite;
}
@keyframes change{
  0%{background-color: #635e4e;}
  25%{background-color: #857c61;}
  50%{background-color: #f5b905;}
  75%{background-color: #857c61;}
  100%{background-color: #635e4e;}
}
/* =======Animation ENDS===== */

@media only screen and (max-width:600px){
  



  .container-info{
    flex-direction: column;
    align-items: center;
    gap: 10px;

  }
  .container-image{
    margin-left: 0;
    width: 100%;
    max-width: none;
  }
  /* ======Typography====== */
  aside h1{
    text-align: center;
  }
}
